.heading-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-0-5);
}

.heading-filter p {
    font-weight: bold;
    font-size: 1.2rem;
    padding: var(--size-0-5) var(--size-1);
}

.filter-container {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.07);
    width: fit-content;
    padding-bottom: 10rem;
}

.filter-container button {
    border: none;
    background-color: var(--white-bg);
}

.filter-type-container {
    margin: 2rem;
}

.filter-name {
    margin: 1rem;
}

.filter-content {
    margin: 1rem;
}

.filter-content #price-slider {
    margin: 0 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #price-slider {
    height: 10px; 
    opacity: 0.7;
  }

/* component library overrides */

.filter-container .heading-filter button.filter-clear-btn {
    margin: 0;
    font-size: var(--size-1);
}

.filter-content .ratings-container {
    display: inline;
}

.filter-content .ratings-container .stars-container {
    padding: 0 0;
    display: inline-flex;
}